<div id="content" class="clearfix">
<h2>Credit Calculators</h2>
    <p><%= link_to "How long will it take to pay off my credit card(s)?", "http://www.culookup.com/IFrameCalculators/Credit/CreditCardPayoff?cuid=765", :onclick=>"window.open('http://www.culookup.com/IFrameCalculators/Credit/CreditCardPayoff?cuid=765','CreditCardPayoff','width=750px, height=750px, scrollbars=yes, resizable=yes'); return false" %>
	</p>
    
    <p><%= link_to "Loan Payment Calculator", "http://www.culookup.com/IFrameCalculators/Credit/LoanCalculator?cuid=765", :onclick=>"window.open('http://www.culookup.com/IFrameCalculators/Credit/LoanCalculator?cuid=765','CreditPaymentCalculator','width=750px, height=750px, scrollbars=yes, resizable=yes'); return false" %></p>
    
    <h2 class="space">Auto Calculators</h2>
    <p><%= link_to "How much will my auto payments be?", "http://www.culookup.com/IFrameCalculators/Auto/AutoCalculator?cuid=765", :onclick=>"window.open('http://www.culookup.com/IFrameCalculators/Auto/AutoCalculator?cuid=765','AutoPayments','width=750px, height=750px, scrollbars=yes, resizable=yes'); return false" %></p>
    
    <p><%= link_to "Should I take a rebate or low-cost financing?", "http://www.culookup.com/IFrameCalculators/Auto/AutoRebate?cuid=765", :onclick=>"window.open('http://www.culookup.com/IFrameCalculators/Auto/AutoRebate?cuid=765','AutoRebate','width=750px, height=750px, scrollbars=yes, resizable=yes'); return false" %></p>
    
 
    <p><%= link_to "How much car can I afford?", "http://www.culookup.com/IFrameCalculators/Auto/AutoAfford?cuid=765", :onclick=>"window.open('http://www.culookup.com/IFrameCalculators/Auto/AutoAfford?cuid=765','AutoAfford','width=750px, height=750px, scrollbars=yes, resizable=yes'); return false" %></p>
    
    <h2 class="space">Home Calculators</h2>
 
    <p><%= link_to "What is the Loan to Value Ratio of my home?", "http://www.culookup.com/IFrameCalculators/Home/HomeLTV?cuid=765", :onclick=>"window.open('http://www.culookup.com/IFrameCalculators/Home/HomeLTV?cuid=765','HomeLTV','width=750px, height=750px, scrollbars=yes, resizable=yes'); return false" %></p>
    
 
	<p><%= link_to "How much home can I afford?", "http://www.culookup.com/IFrameCalculators/Home/HomeAffordability?cuid=765", :onclick=>"window.open('http://www.culookup.com/IFrameCalculators/Home/HomeAffordability?cuid=765','HomeAfford','width=750px, height=925px, scrollbars=yes, resizable=yes'); return false" %></p>
    
    <h2 class="space">Retirement Calculators</h2>
 
    <p><%= link_to "How much will I need to save for retirement?", "http://www.culookup.com/IFrameCalculators/Retirement/SaveForRetirement?cuid=765", :onclick=>"window.open('http://www.culookup.com/IFrameCalculators/Retirement/SaveForRetirement?cuid=765','RetirementSave','width=750px, height=900px, scrollbars=yes, resizable=yes'); return false" %></p>
    
 
    <p><%= link_to "How much can I save with my 401(k)?", "http://www.culookup.com/IFrameCalculators/Retirement/Project401KSavings?cuid=765", :onclick=>"window.open('http://www.culookup.com/IFrameCalculators/Retirement/Project401KSavings?cuid=765','RetirementSave401K','width=750px, height=850px, scrollbars=yes, resizable=yes'); return false" %></p>
    
    <h2 class="space">Savings Calculators</h2>
 
    <p><%= link_to "How long will it take to become a millionaire?", "http://www.culookup.com/IFrameCalculators/Savings/BecomeaMillionaire?cuid=765",:onclick=>"window.open('http://www.culookup.com/IFrameCalculators/Savings/BecomeaMillionaire?cuid=765','SavingsMillionaire','width=750px, height=750px, scrollbars=yes, resizable=yes'); return false" %></p>
    
    <p><%= link_to "How long until I reach my savings goal?", "http://www.culookup.com/IFrameCalculators/Savings/ReachSavingsGoal?cuid=765", :onclick=>"window.open('http://www.culookup.com/IFrameCalculators/Savings/ReachSavingsGoal?cuid=765','SavingsReachGoal','width=750px, height=750px, scrollbars=yes, resizable=yes'); return false" %></p>
    
    <p><%= link_to "How do taxes and inflation affect my savings?", "http://www.culookup.com/IFrameCalculators/Savings/TaxesandInflation?cuid=765", :onclick=>"window.open('http://www.culookup.com/IFrameCalculators/Savings/TaxesandInflation?cuid=765','SavingsTaxes','width=750px, height=750px, scrollbars=yes, resizable=yes'); return false" %></p>
</div>
