<div id="content" class="clearfix">

<object type="application/x-shockwave-flash" data="flash/main.swf" width="604" height="156" id="single1">
                        <param name="movie" value="flash/main.swf" />
                        <param name="allowScriptAcess" value="sameDomain" />
                        <param name="quality" value="best" />
                        <param name="bgcolor" value="#ffffff" />
                        <param name="scale" value="noScale" />
                        <param name="wmode" value="opaque" />
                        <param name="salign" value="TL" />

</object>
    <p class="welcome">Welcome to Healthcare Systems Federal Credit Union</p>
    
    <p>HSFCU is a full-service institution that serves thousands of members and offers a wide variety of financial products and services. Our core purpose is to provide people with the opportunity to improve their lives, so we not only supply quality financial products and services, but also hold financial literacy seminars and more to give our members the knowledge they need to make smart financial decisions.</p>
    
    <p>Each member has an equal voice at HSFCU. Members can also volunteer to serve on HSFCU organizations such as the Board of Directors, which is comprised of Credit Union members just like you. Elected during the Annual Election, these individuals make decisions about Credit Union policies and more, and work hard to ensure that the decisions they make are in the best interests of all HSFCU members. </p>
    
    <table class="quicklinks">
    	<tr>
        <th colspan="2">Quick Links</th>
        </tr>
        <tr>
        	<td class="first"><%= link_to "Locations &amp; Hours", locations_path %></td>
            <td class="first"><%= link_to "Loan Rates", loanrates_path %></td>
        </tr>
        <tr>
        	<td><%= link_to "Contact Us", new_contact_path %></td>
            <td><%= link_to "Prepaid Visa Cards", "https://gprprepaid.pscufs.com/index.cfm?clientkey=67429 HSFCU", :rel=>"confirm external" %></td>
        </tr>
        <tr>
        	<td><%= link_to "Online Banking", new_hb_login_path %></td>
            <td><%= link_to "Visa Credit Card", visa_path %></td>
        </tr>
        <tr>
        	<td><%= link_to "Touch Tone Teller", touchtone_path %></td>
            <td><%= link_to "Deposit Rates", depositrates_path %></td>
        </tr>
        <tr>
        	<td><%= link_to "Online Loan Applications", loanapp_path %></td>
            <td><%= link_to "Current Promotions", currentpromo_path %></td>
        </tr>
        <tr>
        	<td class="last"><%= link_to "Loan Accounts", loans_path %></td>
            <td class="last"><%= link_to "Recent Newsletters", recent_newsletters_path %></td>
        </tr>
    </table>
    
    <table class="quicklinks resources">
    <tr>
    	<th>Resource Library</th>
    </tr>
    <tr>
    	<td class="first"><%= link_to "Online Bill Pay",  "http://www.clickvue.com/bp/healthfcu0825.html", :rel=>"popup:800:500::1 confirm", :class=>"videolink" %></td>
    </tr>
    <tr>
    	<td><%= link_to "Auto Loans", "http://www.clickvue.com/al/healthfcu0825.html", :rel=>"popup:800:500::1 confirm", :class=>"videolink" %></td>
    </tr>
    <tr>
    	<td><%= link_to "ID Theft/Recovery", "http://www.nationalidrecovery.com/Portal.aspx?name=Healthcare%20Systems%20Federal%20Credit%20Union", :rel=>"confirm external", :class=>"videolink" %></td>
    </tr>
    <tr>
    	<td><a href="cuplayer.asp" rel="popup:390:315::1" class="videolink">Safety &amp; Soundness</a></td>
    </tr>
    <tr>
    	<td><%= link_to "Visa Prepaid Cards", "http://www.clickvue.com/prepaidcards/healthfcu0825.html", :rel=>"popup:800:500::1 confirm", :class=>"videolink" %></td>
    </tr>
    <tr>
    	<td class="last">&nbsp;</td>
    </tr>
    
    </table>
</div>