<div id="content" class="clearfix">
<h2>Loan Applications</h2>
<p>With our new member-friendly loan system, you can apply online whenever you wish &quot;24/7&quot; and get a response within minutes. Just select from the loan applications below and follow the simple instructions. It's that easy!</p>

<ul class="loanapp clearfix">
<!-- uncomment after putting the correct link
	<li><%= link_to "New or Used Auto/Motorcycle", "hbv3_2/hbloanapplogin.asp" %></li>
    <li><%= link_to "New or Used Leisure Vehicle", "hbv3_2/hbloanapplogin.asp" %><br /><span class="disclaimer">(RV, Boat, etc.)</span></li>
    <li><%= link_to "Personal(Signature) Loan", "hbv3_2/hbloanapplogin.asp"  %></li>
    <li><%= link_to "Share Secured Loan", "hbv3_2/hbloanapplogin.asp" %></li>
    <li><%= link_to "Visa Platinum", "hbv3_2/hbloanapplogin.asp" %><br /><span class="disclaimer">(Credit Lines up to $15,000)</span></li>
    <li><%= link_to "Home Equity Line of Credit", "hbv3_2/hbloanapplogin.asp" %></li>
    <li><%= link_to "Home Equity", "hbv3_2/hbloanapplogin.asp" %></li>
-->
</ul>

<p class="clear">Rather apply by phone? Call 703-776-7960  <span class="green">24/7</span></p>
</div>
