<div id="content" class="clearfix">
<h2>Loans</h2>

<p>One of the great benefits to Credit Union membership is access to some of the lowest loan rates available. At HSFCU, we offer a wide variety of low-cost loan products to help meet any financial need you have: auto loans, signature loans, education loans, home mortgage/equity loans, Visa&reg; cards and more.</p>

<p><span class="bold">An HSFCU Loan Is Easy, Convenient &amp; Affordable!</span><br />
Applying for a loan or making loan payments has never been easier. HSFCU offers a number of ways to help make managing your finances all the more convenient. You can apply for a loan and make loan payments online, in person or by phone. </p>

<table class="quicklinks">
	<tr>
		<td>
        <ul class="loans">
        	<li><%= link_to "New/Used Vehicle Loans", newused_path %></li>
            <li><%= link_to "Visa Credit Cards", visa_path %></li>
            <li><%= link_to "Signature Loans", signature_path %></li>
            <li><%= link_to "Home Equity Loans", heloc_path %></li>
        </ul>
        </td>
        <td>
        <ul class="loans">
        	<li><%= link_to "Share Secured Loans", sharesec_path %></li>
            <li><%= link_to "Mortgage Loans", mortgage_path %></li>
            <li><%= link_to "Recreational Vehicle Loans", recreation_path %></li>
        </ul>
        </td>
    </tr>
</table>
</div>
