<div id="content" class="clearfix">
<h2>Mortgage Loans</h2>

<p>Whether you're buying your first home, moving up to your dream house, or simply refinancing your current mortgage, Healthcare FCU can help you find the mortgage option to meet your needs. To ensure that you receive the best products, rates and service for your mortgage, we partner with carefully-selected mortgage companies who are dedicated, just as we are, to serving your needs promptly and efficiently. </p>

<p class="italic bold">Contact Our Mortgage Partner Today!</p>

<p>As a benefit to our members, HSFCU has partnered with our loan specialist, Alex Alquinta, at Primary Residential Mortgage, Inc. to provide a complete range of competitive mortgage programs and rates. <%= link_to "Click here", "http://www.loansbyalquinta.com/", :rel=>"confirm external" %> to see what Alex and his team can do for you. </p>
<p><%= link_to image_tag("balancetrack_checking.jpg", :alt=>""), "http://www.balancetrack.org/roadtohome/", :rel=>"confirm external" %></p>
<p><%= link_to "Back", "javascript: history.go(-1)" %></p>

<p><%= link_to image_tag("PRM_logo.jpg", :alt=>"", :class=>"fleft image"), "http://www.loansbyalquinta.com/", :rel=>"confirm external" %><%= image_tag "ehl.jpg", :alt=>"", :class=>"fright image" %></p>
</div>
