<div id="content" class="clearfix">
<h2>Recent Newsletters</h2>
<ul>
  	<li><%= link_to "April 2010", "pdf/Spring2010.pdf", :rel=>"external" %></li>
    <li><%= link_to "January 2010", "pdf/HSFCUWinter2010.pdf", :rel=>"external" %></li> 
    <li><%= link_to "October 2009", "pdf/fall09.pdf", :rel=>"external" %></li>  
    <li><%= link_to "July 2009", "pdf/HSFCU%20Summer%20NL%2009_web.pdf", :rel=>"external" %></li>
    <li><%= link_to "April 2009", "pdf/April2009.pdf", :rel=>"external" %></li>
    <li><%= link_to "January 2009", "pdf/January2009.pdf", :rel=>"external" %></li>
  </ul>

</div>
