<div id="content" class="clearfix">
<h2>Site Map</h2>

		<p class="header">Online Services</p>
        		<ul>
					<li><%= link_to "Online Banking", onlinebank_path %></li>
					<li><%= link_to "Online Bill Pay", onlinebillpay_path %></li>
					<li><%= link_to "eStatements", estatements_path %></li>
					<li><%= link_to "Visa Prepaid Cards", "https://gprprepaid.pscufs.com/index.cfm?clientkey=67429%20HSFCU", :rel=>"confirm external" %></li>
					<li><%= link_to "Visa Gift Cards", "https://mygiftcardaccount.pscufs.com/index.cfm?clientkey=67429%20HSFCU", :rel=>"confirm external" %></li>
					<li><%= link_to "Loan Applications", loanapp_path %></li>
                    <li><%= link_to "Calculators", calculators_path %></li>
                    <li><%= link_to "Online Investments", "http://members.cunamutual.com/H2/Investments.aspx?SITE=04504447", :rel=>"confirm external" %></li>
				</ul>

			<p class="header">Loans</p>
				<ul>
					<li><%= link_to "New/Used Vehicles", newused_path %></li>
					<li><%= link_to "Visa Credit Card", visa_path %></li>
					<li><%= link_to "Signature Loans", signature_path %></li>
					<li><%= link_to "Home Equity Loans", heloc_path %></li>
					<li><%= link_to "Share Secured", sharesec_path %></li>
                    <li><%= link_to "Mortgage Loans", mortgage_path %></li>
                    <li><%= link_to "Recreation Vehicles", recreation_path %></li>
                    <li><%= link_to "Calculators", calculators_path %></li>
				</ul>

			<p class="header">Deposits</p>
            	<ul>
					<li><%= link_to "Share Draft Checking", share_path %></li>
					<li><%= link_to "Second Chance Checking", secondchance_path %></li>
					<li><%= link_to "Regular Share", regshare_path %></li>
                    <li><%= link_to "Money Market", moneymarket_path %></li>
                    <li><%= link_to "Share Certificates", certdep_path %></li>
                    <li><%= link_to "IRAs", ira_path %></li>
                    <li><%= link_to "Club Accounts", clubaccts_path %></li>
                    <li><%= link_to "Visa Debit Cards", visadebit_path %></li>
				</ul>
			<p class="header">Rates</p>
					
				<ul>
					<li><%= link_to "Loan Rates", loanrates_path %></li>
					<li><%= link_to "Deposit Rates", depositrates_path %></li>
					<li><%= link_to "Fee Schedule", fees_path %></li>
				</ul>

			<p class="header">Locations &amp; Hours</p>
				<ul>
					<li><%= link_to "HSFCU Locations", locations_path %></li>
					<li><%= link_to "Shared Branches", sharedbranch_path %></li>
					<li><%= link_to "CU 24/HERE ATMs", cu24_path %></li>
				</ul>

			<p class="header">About Us</p>
				<ul>
					<li><%= link_to "History", history_path %></li>
					<li><%= link_to "Membership Eligibility", membership_path %></li>
                    <li><%= link_to "Privacy Policy", privacy_path %></li>
                    <li><%= link_to "NCUA Insurance", ncua_path %></li>
                    <li><%= link_to "Security Statement", security_path %></li>
                    <li><%= link_to "The CU Difference", difference_path %></li>
                    <li><%= link_to "Billing Rights", billingrights_path %></li>
                    <li><%= link_to "Contact Us", new_contact_path %></li>
                </ul>

				<p class="header">HSFCU Partners</p>
				<ul>
					<li><%= link_to "Balance - Financial Counseling", "http://www.balancepro.net/partners/hsfcu/", :rel=>"confirm external" %></li>
					<li><%= link_to "Investments", "http://members.cunamutual.com/H2/Investments.aspx?SITE=04504447", :rel=>"confirm external" %></li>
					<li><%= link_to "Get an Auto/Home Insurance Quote", "http://www.membersautohome.com/default.aspx? contract=04504447&amp;ICU=BBB4&amp;utm_source=04504447&amp;utm_medium=Link&amp;utm_campaign=BBB4", :rel=>"confirm external" %></li>
					<li><%= link_to "Life Insurance", "http://members.cunamutual.com/H2/Insurance.aspx?SITE=04504447", :rel=>"confirm external" %></li>
                    <li><%= link_to "Enterprise Car Sales", "http://www.enterprisecarsales.com", :rel=>"confirm external" %></li>
                    <li><%= link_to "Order Checks", "https://reorder.libertysite.com/login.asp", :rel=>"confirm external" %></li>
                    <li><%= link_to "Shared Branches", "http://www.cuservicecenter.com/", :rel=>"confirm external" %></li>
                    <li><%= link_to "CU24", "http://www.cu24.com/ATMLocator/index.aspx", :rel=>"confirm external" %></li>
                    <li><%= link_to "Freedom Pay", "https://www.freedompay.com/SignUp/SelectOrigination.aspx", :rel=>"confirm external" %></li>
                    <li><%= link_to "SMARTMOVE", "http://www.smartmove.com/hsfcu", :rel=>"confirm external" %></li>                    
				</ul>
</div>
